@font-face {
    font-family: 'martindale-icons';
    src:  url('../../../common/fonts/martindale-icons/martindale-icons.eot?t20goj');
    src:  url('../../../common/fonts/martindale-icons/martindale-icons.eot?t20goj#iefix') format('embedded-opentype'),
      url('../../../common/fonts/martindale-icons/martindale-icons.ttf?t20goj') format('truetype'),
      url('../../../common/fonts/martindale-icons/martindale-icons.woff?t20goj') format('woff'),
      url('../../../common/fonts/martindale-icons/martindale-icons.svg?t20goj#martindale-icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="micon-"], [class*=" micon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'martindale-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .micon-auto_02:before {
    content: "\e900";
  }
  .micon-auto_04:before {
    content: "\e901";
  }
  .micon-auto_06:before {
    content: "\e902";
  }
  .micon-auto_08:before {
    content: "\e903";
  }
  .micon-bank_03:before {
    content: "\e904";
  }
  .micon-bank_04:before {
    content: "\e905";
  }
  .micon-bank_05:before {
    content: "\e906";
  }
  .micon-bank_06:before {
    content: "\e907";
  }
  .micon-bank_07:before {
    content: "\e908";
  }
  .micon-business-law_01:before {
    content: "\e909";
  }
  .micon-business-law_02:before {
    content: "\e90a";
  }
  .micon-business-law_03:before {
    content: "\e90b";
  }
  .micon-business-law_04:before {
    content: "\e90c";
  }
  .micon-business-law_05:before {
    content: "\e90d";
  }
  .micon-business-law_06:before {
    content: "\e90e";
  }
  .micon-business-law_07:before {
    content: "\e90f";
  }
  .micon-business-law_08:before {
    content: "\e910";
  }
  .micon-business-law_09:before {
    content: "\e911";
  }
  .micon-business-law_10:before {
    content: "\e912";
  }
  .micon-criminal_01:before {
    content: "\e913";
  }
  .micon-criminal_02:before {
    content: "\e914";
  }
  .micon-criminal_03:before {
    content: "\e915";
  }
  .micon-criminal_05:before {
    content: "\e916";
  }
  .micon-criminal_06:before {
    content: "\e917";
  }
  .micon-criminal_07:before {
    content: "\e918";
  }
  .micon-criminal_08:before {
    content: "\e919";
  }
  .micon-criminal_09:before {
    content: "\e91a";
  }
  .micon-criminal_10:before {
    content: "\e91b";
  }
  .micon-divorce_01:before {
    content: "\e91c";
  }
  .micon-divorce_02:before {
    content: "\e91d";
  }
  .micon-divorce_03:before {
    content: "\e91e";
  }
  .micon-divorce_04:before {
    content: "\e91f";
  }
  .micon-divorce_05:before {
    content: "\e920";
  }
  .micon-divorce_06:before {
    content: "\e921";
  }
  .micon-divorce_07:before {
    content: "\e922";
  }
  .micon-dui_01:before {
    content: "\e923";
  }
  .micon-dui_02:before {
    content: "\e924";
  }
  .micon-dui_03:before {
    content: "\e925";
  }
  .micon-dui_04:before {
    content: "\e926";
  }
  .micon-dui_05:before {
    content: "\e927";
  }
  .micon-dui_06:before {
    content: "\e928";
  }
  .micon-dui_07:before {
    content: "\e929";
  }
  .micon-dui_08:before {
    content: "\e92a";
  }
  .micon-dui_09:before {
    content: "\e92b";
  }
  .micon-dui_10:before {
    content: "\e92c";
  }
  .micon-estate-planning_01:before {
    content: "\e92d";
  }
  .micon-estate-planning_02:before {
    content: "\e92e";
  }
  .micon-estate-planning_03:before {
    content: "\e92f";
  }
  .micon-estate-planning_04:before {
    content: "\e930";
  }
  .micon-estate-planning_05:before {
    content: "\e931";
  }
  .micon-estate-planning_06:before {
    content: "\e932";
  }
  .micon-estate-planning_07:before {
    content: "\e933";
  }
  .micon-estate-planning_08:before {
    content: "\e934";
  }
  .micon-family-law_01:before {
    content: "\e935";
  }
  .micon-family-law_02:before {
    content: "\e936";
  }
  .micon-family-law_03:before {
    content: "\e937";
  }
  .micon-family-law_04:before {
    content: "\e938";
  }
  .micon-family-law_05:before {
    content: "\e939";
  }
  .micon-gen_01:before {
    content: "\e93a";
  }
  .micon-gen_02:before {
    content: "\e93b";
  }
  .micon-gen_03:before {
    content: "\e93c";
  }
  .micon-gen_04:before {
    content: "\e93d";
  }
  .micon-gen_05:before {
    content: "\e93e";
  }
  .micon-gen_06:before {
    content: "\e93f";
  }
  .micon-gen_07:before {
    content: "\e940";
  }
  .micon-gen_08:before {
    content: "\e941";
  }
  .micon-gen_09:before {
    content: "\e942";
  }
  .micon-gen_10:before {
    content: "\e943";
  }
  .micon-head-spine_01:before {
    content: "\e944";
  }
  .micon-head-spine_02:before {
    content: "\e945";
  }
  .micon-head-spine_03:before {
    content: "\e946";
  }
  .micon-head-spine_04:before {
    content: "\e947";
  }
  .micon-head-spine_05:before {
    content: "\e948";
  }
  .micon-head-spine_06:before {
    content: "\e949";
  }
  .micon-head-spine_07:before {
    content: "\e94a";
  }
  .micon-immigration_01:before {
    content: "\e94b";
  }
  .micon-immigration_02:before {
    content: "\e94c";
  }
  .micon-immigration_03:before {
    content: "\e94d";
  }
  .micon-immigration_04:before {
    content: "\e94e";
  }
  .micon-immigration_05:before {
    content: "\e94f";
  }
  .micon-immigration_06:before {
    content: "\e950";
  }
  .micon-immigration_07:before {
    content: "\e951";
  }
  .micon-immigration_08:before {
    content: "\e952";
  }
  .micon-immigration_09:before {
    content: "\e953";
  }
  .micon-labor-employment_01:before {
    content: "\e954";
  }
  .micon-labor-employment_02:before {
    content: "\e955";
  }
  .micon-labor-employment_03:before {
    content: "\e956";
  }
  .micon-labor-employment_04:before {
    content: "\e957";
  }
  .micon-labor-employment_05:before {
    content: "\e958";
  }
  .micon-labor-employment_06:before {
    content: "\e959";
  }
  .micon-labor-employment_07:before {
    content: "\e95a";
  }
  .micon-labor-employment_08:before {
    content: "\e95b";
  }
  .micon-labor-employment_09:before {
    content: "\e95c";
  }
  .micon-labor-employment_10:before {
    content: "\e95d";
  }
  .micon-medmal_01:before {
    content: "\e95e";
  }
  .micon-medmal_02:before {
    content: "\e95f";
  }
  .micon-medmal_03:before {
    content: "\e960";
  }
  .micon-medmal_04:before {
    content: "\e961";
  }
  .micon-medmal_05:before {
    content: "\e962";
  }
  .micon-medmal_06:before {
    content: "\e963";
  }
  .micon-medmal_07:before {
    content: "\e964";
  }
  .micon-medmal_08:before {
    content: "\e965";
  }
  .micon-medmal_09:before {
    content: "\e966";
  }
  .micon-mesothelioma_01:before {
    content: "\e967";
  }
  .micon-mesothelioma_02:before {
    content: "\e968";
  }
  .micon-mesothelioma_03:before {
    content: "\e969";
  }
  .micon-mesothelioma_04:before {
    content: "\e96a";
  }
  .micon-mesothelioma_05:before {
    content: "\e96b";
  }
  .micon-mesothelioma_06:before {
    content: "\e96c";
  }
  .micon-misc_01:before {
    content: "\e96d";
  }
  .micon-misc_02:before {
    content: "\e96e";
  }
  .micon-misc_03:before {
    content: "\e96f";
  }
  .micon-misc_04:before {
    content: "\e973";
  }
  .micon-misc_05:before {
    content: "\e974";
  }
  .micon-misc_06:before {
    content: "\e975";
  }
  .micon-misc_07:before {
    content: "\e976";
  }
  .micon-misc_08:before {
    content: "\e977";
  }
  .micon-misc_09:before {
    content: "\e978";
  }
  .micon-misc_10:before {
    content: "\e979";
  }
  .micon-misc_11:before {
    content: "\e97a";
  }
  .micon-misc_12:before {
    content: "\e97b";
  }
  .micon-misc_13:before {
    content: "\e97c";
  }
  .micon-misc_14:before {
    content: "\e97d";
  }
  .micon-misc_15:before {
    content: "\e97e";
  }
  .micon-misc_16:before {
    content: "\e97f";
  }
  .micon-misc_17:before {
    content: "\e980";
  }
  .micon-misc_18:before {
    content: "\e981";
  }
  .micon-misc_19:before {
    content: "\e982";
  }
  .micon-misc_20:before {
    content: "\e983";
  }
  .micon-misc_21:before {
    content: "\e984";
  }
  .micon-misc_22:before {
    content: "\e985";
  }
  .micon-misc_23:before {
    content: "\e986";
  }
  .micon-misc_24:before {
    content: "\e987";
  }
  .micon-misc_25:before {
    content: "\e988";
  }
  .micon-pi_01:before {
    content: "\e989";
  }
  .micon-pi_02:before {
    content: "\e98a";
  }
  .micon-pi_03:before {
    content: "\e98b";
  }
  .micon-pi_04:before {
    content: "\e98c";
  }
  .micon-pi_05:before {
    content: "\e98d";
  }
  .micon-pi_06:before {
    content: "\e98e";
  }
  .micon-pi_07:before {
    content: "\e98f";
  }
  .micon-realestate_01:before {
    content: "\e990";
  }
  .micon-realestate_02:before {
    content: "\e991";
  }
  .micon-realestate_03:before {
    content: "\e992";
  }
  .micon-realestate_04:before {
    content: "\e993";
  }
  .micon-realestate_05:before {
    content: "\e994";
  }
  .micon-realestate_06:before {
    content: "\e995";
  }
  .micon-realestate_07:before {
    content: "\e996";
  }
  .micon-ss-disability_01:before {
    content: "\e997";
  }
  .micon-ss-disability_02:before {
    content: "\e998";
  }
  .micon-ss-disability_03:before {
    content: "\e999";
  }
  .micon-ss-disability_04:before {
    content: "\e99a";
  }
  .micon-ss-disability_05:before {
    content: "\e99b";
  }
  .micon-ss-disability_06:before {
    content: "\e99c";
  }
  .micon-ss-disability_07:before {
    content: "\e99d";
  }
  .micon-ss-disability_08:before {
    content: "\e99e";
  }
  .micon-truck_01:before {
    content: "\e99f";
  }
  .micon-truck_02:before {
    content: "\e9a0";
  }
  .micon-truck_03:before {
    content: "\e9a1";
  }
  .micon-truck_04:before {
    content: "\e9a2";
  }
  .micon-truck_05:before {
    content: "\e9a3";
  }
  .micon-truck_06:before {
    content: "\e9a4";
  }
  .micon-wills-pro_01:before {
    content: "\e9a5";
  }
  .micon-wills-pro_02:before {
    content: "\e9a6";
  }
  .micon-wills-pro_03:before {
    content: "\e9a7";
  }
  .micon-wills-pro_04:before {
    content: "\e9a8";
  }
  .micon-wills-pro_05:before {
    content: "\e9a9";
  }
  .micon-wills-pro_06:before {
    content: "\e9aa";
  }
  .micon-wills-pro_07:before {
    content: "\e9ab";
  }
  .micon-wills-pro_08:before {
    content: "\e9ac";
  }
  .micon-workers-comp_01:before {
    content: "\e9ad";
  }
  .micon-workers-comp_02:before {
    content: "\e9ae";
  }
  .micon-workers-comp_03:before {
    content: "\e9af";
  }
  .micon-workers-comp_04:before {
    content: "\e9b0";
  }
  .micon-workers-comp_05:before {
    content: "\e9b1";
  }
  .micon-workers-comp_06:before {
    content: "\e9b2";
  }
  .micon-workers-comp_07:before {
    content: "\e9b3";
  }
  .micon-workers-comp_08:before {
    content: "\e9b4";
  }
  .micon-workers-comp_09:before {
    content: "\e9b5";
  }
